---
layout: page
title: Algorich blog
index: true
---
{% include JB/setup %}

<div class="row">
  <div class="span8">
    {% for post in site.posts limit:5 %}
      <h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
      <div class="published_box">
        {% capture month %}{{ post.date | date: "%B" }}{% endcapture %}
        <p>
          <i class="icon-calendar"></i> {{ post.date | date: "%d" }} de {{post.months[month] | downcase }} de {{ post.date | date: "%Y" }} |
          <i class="icon-user"></i> {{ site.authors[post.author]['name'] }}
        </p>
      </div>
      <div class="post_content">
        {% capture truncated_content  %}{{ post.content | truncatewords: 250 }}{% endcapture %}
        {{ truncated_content }}
        {% if truncated_content != post.content %}
          <a href="{{ BASE_PATH }}{{ post.url }}">continue lendo <i class="icon-arrow-right"></i></a>
        {% endif %}
      </div>
      <hr>
    {% endfor %}
  </div>

  <div class="span4">
  {% unless page.tags == empty %}
    <h4><i class="icon-tags"></i> Tags</h4>
    <ul class="tag_box inline">
    {% assign tags_list = site.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=181157615346244";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-like-box" data-href="http://www.facebook.com/algorich" data-width="300" data-show-faces="true" data-stream="false" data-header="true"></div>
  </div>
</div>