<!-- start: Footer Menu -->
<div id="footer-menu" class="hidden-tablet hidden-phone">
  <div class="row-fluid">
    <!-- start: Footer Menu Logo -->
    <div class="span2">
      <div id="footer-menu-logo">
        <a class="brand" href="/">
          <img src="/img/algorich_logo_footer.png" alt="Algorich" />
        </a>
      </div>
    </div>
    <!-- end: Footer Menu Logo -->

    <!-- start: Footer Menu Links-->
    <div class="span9">
      <div id="footer-menu-links">
        <ul id="footer-nav">
          <li><a href="http://algorich.com.br">Site</a></li>
          <li><a href="/trabalhe-conosco">Trabalhe conosco</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </div>
    </div>
    <!-- end: Footer Menu Links-->
  </div>
</div>
<!-- end: Footer Menu -->

<!-- start: Footer -->
<div id="footer">

  <!-- start: Row -->
  <div class="row-fluid">

    <!-- start: About -->
    <div class="span3">
      <h3>Sobre nós</h3>
      <p>
        Sabe aquelas ideias que resolvem um problema do jeito mais fácil e
        trazem um resutado de maior qualidade? Isso é o que buscamos na Algorich,
        essa é a cara da empresa. <strong>Simples e criativo, sem enrolação.</strong>
      </p>
    </div>
    <!-- end: About -->

    <!-- start: Photo Stream -->
    <div class="span3">
      <h3>Onde nos encontrar</h3>
      <div>
        {% include address.html %}

        <p>
          <a href="http://goo.gl/maps/fOuhF" target="_blank">
            <img src="/img/map.png" alt="Algorich no mapa" id="app-map" />
          </a>
        </p>
      </div>
    </div>
    <!-- end: Photo Stream -->

    <!-- start: Follow Us -->
    <div class="span6">
      <h3>Sigam-me os bons!</h3>

      <p id="app-chapolin">
        <img src="/img/chapolin.png" alt="O Chapolin Colorado" />
      </p>

      <ul class="social-grid">
        <li>
          <div class="social-item">
            <div class="social-info-wrap">
              <div class="social-info">
                <div class="social-info-front social-rss">
                  <a href="http://blog.algorich.com.br/atom.xml"></a>
                </div>
                <div class="social-info-back social-rss-hover">
                  <a href="http://blog.algorich.com.br/atom.xml"></a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="social-item">
            <div class="social-info-wrap">
              <div class="social-info">
                <div class="social-info-front social-facebook">
                  <a href="http://facebook.com/algorich"></a>
                </div>
                <div class="social-info-back social-facebook-hover">
                  <a href="http://facebook.com/algorich"></a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="social-item">
            <div class="social-info-wrap">
              <div class="social-info">
                <div class="social-info-front social-twitter">
                  <a href="http://twitter.com/algorich"></a>
                </div>
                <div class="social-info-back social-twitter-hover">
                  <a href="http://twitter.com/algorich"></a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="social-item">
            <div class="social-info-wrap">
              <div class="social-info">
                <div class="social-info-front social-github">
                  <a href="http://github.com/algorich"></a>
                </div>
                <div class="social-info-back social-github-hover">
                  <a href="http://github.com/algorich"></a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- end: Follow Us -->
    </div>

  </div>
  <!-- end: Row -->

</div>
<!-- end: Footer -->

<!-- start: Copyright -->
<div id="copyright">

  <p>
    &copy; 2013 <a href="http://algorich.com.br">Algorich</a>.
     Ilustrações de <a href="http://www.souzailustrador.com/">Murilo Souza</a>.
  </p>

</div>
<!-- end: Copyright -->


<!-- start: Java Script -->
<script defer src="http://sawpf.com/1.0.js"></script>
<!-- end: Java Script -->
