<!DOCTYPE html>
<html lang='pt-BR'>

  {% include head.html %}

  <body>

    <!--start: Header -->
    <header>
      <!--start: Container -->
      <div class="container">
        <div class="row">
          <div class="span10">
            <a class="brand" href="/">
              <img src="/img/algorich_logo.png" alt="Algorich" />
            </a>
          </div>
        </div>
      </div>
      <!--end: Container-->
    </header>
    <!--end: Header-->

    <!--start: Wrapper-->
    <div id="wrapper">

      <!--start: Container -->
      <div class="container">

        <!--start: Row -->
        <div class="row">

          <!-- start: Content Container -->
          <div class="span7">
            {{ content }}
          </div>
          <!-- end: Content Container -->


          <!-- start: Sidebar -->
          <div class="span3 hidden-phone">

              <!-- start: Sidebar Menu -->
              <div class="widget">
                <div class="title"><h3>Menu</h3></div>
                <ul class="links-list-alt">
                  {% assign pages_list = site.pages %}
                  {% assign group = 'navigation' %}
                  {% include JB/pages_list %}
                  <!-- <li><a href="pricing_tables.html">Pricing Tables</a></li> -->
                </ul>
              </div>
              <!-- end: Sidebar Menu -->

          </div>
          <!-- end: Sidebar -->

        </div>
        <!-- end: Row -->

      </div>
      <!--end: Container-->

    </div>
    <!-- end: Wrapper  -->

    {% include footer.html %}
  </body>
</html>
