---
layout: main
---
<!-- start: Post -->
<div class="post post-page">

  <div class="post-content">
    <div class="title"><h2>{{ page.title }}</h2></div>

    <!-- start: post meta -->
    <div class="post-meta">
      {% capture this_month %}{{ page.date | date: "%B" }}{% endcapture %}
      <span>
        <i class="mini-ico-calendar"></i>
        {{ page.date | date: "%d" }} de {{site.months[this_month] | downcase }} de {{ page.date | date: "%Y" }}
      </span>
      <span>
        <i class="mini-ico-user"></i>
        {{ site.authors[page.author]['name'] }}
      </span>
      {% if page.tags.first != null %}
        <span>
          <i class="mini-ico-tags"></i>
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </span>
      {% endif %}
    </div>
    <!-- end: post meta -->

    <div class="post-description">
      {{ content }}
    </div>

    <!-- start: facebook like -->
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=181157615346244";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-like" data-href="{{ site.production_url }}{{page.url}}" data-send="false" data-width="300" data-show-faces="true"></div>
    <!-- end: facebook like -->
  </div>
  <!-- end: post-content -->

  <hr />

  {% include JB/comments %}
</div>
<!-- end: Post -->