---
layout: default
keywords: "blog, algorich, desenvolvimento, software, linux, ruby, rails, ruby on rails, empreendedorismo"
description: Blog da equipe da Algorich, onde falamos sobre as técnicas, tecnologias e metodologias que utilizamos, além de um pouco do nosso dia a dia.
---

{% assign index = true %}
{% for post in paginator.posts %}
{% assign content = post.content %}
  <article>
    {% include article.html %}
  </article>
{% endfor %}

<ul class="pagination clear">
  {% if paginator.next_page %}
  <div class="alignright">
    <a href="{{paginator.next_page}}"><li>&larr; Mais antigos</li></a>
  </div>
  {% endif %}
  <a href="/archives"><li>Histórico do blog</li></a>
  {% if paginator.previous_page %}
  <div class="alignleft">
    <a href="{{paginator.previous_page}}"><li>Mais novos &rarr;</li></a>
  </div>
  {% endif %}
</ul>
